@use '../../../../theme/variables' as *;

footer{
    display: flex;
    position: fixed;
    background-color: $color-footer-bg;
    bottom: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

footer > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

footer p{
    font-size: 12px;
    line-height: 15px;
    color: $color-neutral-0;
    margin-top: 5px;
    margin-bottom: 3px;
}

.buttonFooter{
    width: 41px;
    height: 41px;
    background-color: $color-footer-btn-bg;
    border: 1px $color-footer-btn-border solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.buttonFooter > i {
    color: $color-neutral-0;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}