@use '../../../../theme/variables' as *;
@use '../../../shared/styles/mixins' as *;

ion-datetime-button {
    width: 100%;
    --background: transparent;
    --border-radius: #{$border-radius-md};
    display: block;
    min-height: 44px;
    --padding-start: #{$input-padding-h};
    --padding-end: #{$input-padding-h};
    --padding-top: #{$input-padding-v};
    --padding-bottom: #{$input-padding-v};
}

// Constrain description textarea height to prevent modal from becoming too large
.descricaoInput {
    max-height: 120px;
    overflow-y: auto;
    resize: vertical;
}